<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor PJe</title>
</head>
<body>
    <h2>Carregue seu arquivo .xlsx (se necessário converta previamente o arquivo para o formato indicado):</h2>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name='arquivo'>
        <button type="submit">Enviar</button>
        
    </form>
</body>
</html>